html {
  background-color: antiquewhite;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

* {
  text-decoration: none;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
    
  color: gray;
}

header {
  display: flex;
  margin: 20px;
  justify-content: space-between;
}


nav ul {
  display: flex;
  width: 100%;
}

nav ul li {
  font-size: 22px;
  margin-left: 20px;
}

.about {
  display: flex;
  flex-direction: column;
}

.about_body {
  display: flex;
  height: 500px; 
  }

  .about_body p {
    margin: auto 40px;
  }

p {
font-size: 20px;
}

.projsurf p,
.projwds p {
  margin: 50px; 

}



footer {

  margin: 20px;
  font-size: 22px;
  font-weight: bold ;
}